permissions {
  paths {
    // Dev environment
    allow "./.shuvarie-dev/"
    // Cargo registry for checking out rustdocs
    allow mode="ro" "~/.cargo/registry/"
    // Git
    allow "./.gitignore" "./.gitmodules" "./.gitattributes"
    // GitHub files
    allow "./.github/"
    // Agents directory
    allow "./.agents/"
  }
}
